{% extends 'base.html' %}

{% block body %}


<div class="container mt-5" style="width: 30rem;">
    <h1 class="display-lg text-center" mb-3>LOGIN!!!</h1>
    <div class="card">
        <div class="container mt-4 mb-4">
            <form>
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="mt-4">Don't have an account!! <a href="{% url 'signup' %}">Click Here</a><p>
              </form>
        </div>
    </div>
</div>

{% endblock body %}